@use "../abstracts/" as *;

.avatar {
  &-xxs {
    @include square($size: 20px);
  }
  &-xs {
    @include square($size: 25px);
  }
  &-sm {
    @include square($size: 30px);
  }
  &-md {
    @include square($size: 40px);
  }
  &-lg {
    @include square($size: 50px);
  }
  &-xl {
    @include square($size: 60px);
  }
  &-xxl {
    @include square($size: 75px);
  }
  &-100 {
    @include square($size: 100px);
  }

  &.circle{
    border-radius: $radius-rounded;
    overflow: hidden;
  }
}

.avatar-group {
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  &-item {
    margin-left: -12px;
    border: 2px solid $color-warning-light;
    border-radius: 50%;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    &:hover {
      position: relative;
      -webkit-transform: translateY(-2px);
      -ms-transform: translateY(-2px);
      transform: translateY(-2px);
      z-index: 1;
    }
  }
}
